<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
        <title>微猜想详情</title>
    </head>
    <body>
        <div id='app'>
            <!--粘性标题栏-->
            <div class="container-fluid header" v-bind:style="{'background-color':styleobject.front}">
                <!--img src="static/img/guard.png" style="height:60px;width:60px; margin:5px;"-->
                <div class="header-content" style="display:inline-block;">微猜想详情</div>
                <button  v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode}"  style="float:right;height:100%;" v-on:click="switchtheme">切换主题</button>
            </div>
            <!--主体-->
            <div class="container-fluid" style="margin-top:30px;">
                <!--左侧-->
                <div class="middle">
                    <!--标题栏-->
                    <div class="main middle-header" v-bind:style="{'background-color':styleobject.front}">
                        <!--标签-->
                        <span v-for="topic in topics" style="margin-left:5px;"
                        v-bind:class="{badge:true,'badge-pill':true,'badge-primary':!darkmode,'badge-success':darkmode}">{{topic}}</span>
                        <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'3px'}">
                        <!--标题-->
                        <h3>{{header}} 
                            <span v-if="state==0" v-bind:class="{badge:true,'badge-warning':true}">评审中</span>
                            <span v-if="state==1" v-bind:class="{badge:true,'badge-danger':true}">未通过</span>
                            <span v-if="state==2" v-bind:class="{badge:true,'badge-success':true}">已通过</span>
                        </h3>
                    </div>
                    <!--内容-->
                    <div class="main middle-body" v-bind:style="{'background-color':styleobject.front}">
                        <span style="font-size: 20px;">{{content}}</span>
                        <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'3px'}">
                        <div v-if="state==0" style="text-align:center;width:100%">
                            <button class="btn btn-danger" v-on:click="judge(false)">否定微猜想</button>
                            <div style="width:50%;display: inline-block;">
                                <div class="progress" >
                                    <div class="progress-bar bg-danger progress-bar-striped" v-bind:style="{width:100-probar+'%'}">{{con}}</div>
                                    <div class="progress-bar bg-success progress-bar-striped" v-bind:style="{width:probar+'%'}">{{pro}}</div> 
                                </div>
                            </div>
                            <button class="btn btn-success" v-on:click="judge(true)">肯定微猜想</button>
                        </div>
                    </div>
                    <!--评论区-->
                    <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'font-size':'20px'}">
                        评论区
                    </div>

                    <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'font-size':'0'}"
                    v-show="input_comment">
                        <textarea type="input" class="form-control" v-bind:style="{'background-color':styleobject.front,color:styleobject.content,height:'100px','padding-top':0}" v-model="new_comment"></textarea>
                        <button v-bind:class="{btn:true,'btn-primary':!darkmode,'btn-success':darkmode,}"
                        style="margin:10px;" v-on:click="send_comment">发表评论</button>
                    </div>

                    <div v-for="comment in comments" class="main comment" v-bind:style="{'background-color':styleobject.front}">
                        <a  v-bind:href="'userinfo.html?id='+comment.id">@{{comment.username}}</a>:{{comment.content}}
                        <div style="text-align: right;">发表于:{{comment.date}}<br></div>
                    </div>

                    <div class="main middle-body" v-bind:style="{'background-color':styleobject.front,'text-align':'center',width:'100%',margin:'0 auto','cursor':'pointer'}" v-show="comments.length==0">
                        暂无评论
                    </div>
                </div>
                <!--右侧-->
                <div class="right">
                    <div class="main right-bar" v-bind:style="{'background-color':styleobject.front,'text-align':'center'}">
                        <strong>微猜想详情</strong><br>
                        发表时间:{{time}}<br>
                        <span v-if="state==0" v-bind:class="{badge:true,'badge-warning':true}">评审中</span>
                        <span v-if="state==1" v-bind:class="{badge:true,'badge-danger':true}">未通过</span>
                        <span v-if="state==2" v-bind:class="{badge:true,'badge-success':true}">已通过</span>
                        <table style="width:100%;text-align: center;" >
                            <thead>
                                <th style="color:red">否定</th>
                                <th style="color:#28a745">肯定</th>
                            </thead>
                            <tbody><tr>
                                <td style="color:red">{{con}}</td>
                                <td style="color:#28a745">{{pro}}</td>
                            </tr></tbody>
                        </table>
                        <hr v-bind:style="{border:'1px solid '+styleobject.content,margin:'3px'}">
                        <table style="width:100%;text-align: center;" >
                            <thead>
                                <th>浏览</th>
                                <th>点赞</th>
                                <th>评论</th>
                            </thead>
                            <tbody><tr>
                                <td>{{views}}</td>
                                <td>{{like}}</td>
                                <td>{{remark}}</td>
                            </tr></tbody>
                        </table>
                            <div class="btn-group" style="width:99%">
                                <button v-bind:class="{btn:true,leftbutton:true,
                                    'btn-outline-primary':!darkmode&&!liked,'btn-outline-success':darkmode&&!liked,
                                    'btn-primary':!darkmode&&liked,'btn-success':darkmode&&liked}" v-on:click="like_click">
                                    {{liked?'已点赞':'点赞'}}</button>
                                <button v-bind:class="{btn:true,leftbutton:true,
                                    'btn-outline-primary':!darkmode&&!collected,'btn-outline-success':darkmode&&!collected,
                                    'btn-primary':!darkmode&&collected,'btn-success':darkmode&&collected}" v-on:click="collect_click">
                                    {{collected?'已收藏':'收藏'}}</button>
                                <button v-bind:class="{btn:true,leftbutton:true,'btn-outline-primary':!darkmode,'btn-outline-success':darkmode}" v-on:click="input_comment=!input_comment">评论</button>
                            </div>
                            <template v-if="modify">
                                <button v-bind:class="{btn:true,leftbutton:true,'btn-primary':!darkmode,'btn-success':darkmode}" style="width: 99%;margin-top: 5px;" v-on:click="goto_modify">修改此微证据</button>
                                <!--button class="btn btn-danger" style="width: 99%;margin-top: 2px;" v-on:click="goto_delete">删除此微证据</button-->
                            </template>
                    </div>
                    <div class="main right-bar" v-bind:style="{'background-color':styleobject.front,'text-align':'center'}">
                        <strong>作者详情</strong><br>
                        {{userinfo.username}}
                        <span v-if="userinfo.valid" class="badge badge-primary">已注册</span>
                        <span v-if="userinfo.valid&&userinfo.administrator"class="badge badge-warning">管理员</span>
                        <span v-if="userinfo.valid&&userinfo.forbidden" class="badge badge-danger">封禁中</span>
                        <br>
                        <a v-bind:href="'userinfo.html?id='+userinfo.id" style="font-size: 12px;">前往Ta的个人主页></a><br>
                        <img v-bind:src="userinfo.avatar?userinfo.avatar:'static/img/avater.jpg'" class="avatar"><br>
                        
                        <table style="width:100%" v-if="userinfo.valid">
                            <thead>
                                <th>微知识</th>
                                <th>关注Ta</th>
                                <th>Ta关注</th>
                            </thead>
                            <tbody><tr>
                                <td>{{userinfo.micropub}}</td>
                                <td>{{userinfo.followed}}</td>
                                <td>{{userinfo.following}}</td>
                            </tr></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                //主题颜色配置
                darkmode:false,
                lightcolor:{
                    front:"white",
                    background:"#f6f6f6",
                    content:"rgb(0,128,255)",
                    alert:"alert alert-primary",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bg.png')"
                },
                darkcolor:{
                    //front:"#282561",
                    front:"#3e3e3e",
                    background:"black",
                    content:"#28a745",
                    alert:"alert alert-success",
                    alerterror:'alert alert-danger',
                    bgpic:"url('static/img/bgdark.png')"
                },
                //微猜想详情
                header:"",
                content:"",
                state:0,//0是审核中 1是未通过 2是已通过
                topics:[],
                time:"",
                pro:0,
                con:0,
                like:0,
                views:0,
                remark:0,
                liked:false,
                collected:false,
                //评论区详情
                comments:[],
                //userinfo
                userinfo:{},
                modify:false,
                new_comment:"",
                input_comment:false
            },
            computed:{
                styleobject:function(){
                    if(this.darkmode){
                        return this.darkcolor;
                    }
                    else{
                        return this.lightcolor;
                    }
                }, 
                probar:function(){
                    if(this.pro==0&&this.con==0){
                        return 50;
                    }
                    var tmp=1/(this.pro+this.con)*this.pro;
                    return tmp.toFixed(2)*100;
                }
            },
            methods:{
                switchtheme:function(){
                    this.darkmode=!this.darkmode;
                    document.querySelector('body').style.backgroundColor=this.styleobject.background;
                    document.querySelector('body').style.color=this.styleobject.content;
                    document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                    window.localStorage["dark"]=this.darkmode;
                },
                getQueryVariable:function (variable){
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                        if(pair[0] == variable){return pair[1];}
                    }
                    return(false);
                },
               getdata:function(){
                    var id=this.getQueryVariable("id");
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/microcons/'+id,
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            this.header=response.data.title;
                            this.content=response.data.summary;
                            this.like=response.data.likes;
                            this.view=response.data.views;
                            this.remark=response.data.comments.length;
                            this.collected=response.data.is_collected;
                            this.liked=response.data.is_liked;
                            this.time=response.data.timestamp,
                            this.topics=response.data.tags;
                            this.comments.splice(0,this.comments);
                            this.pro=response.data.pros_num;
                            this.con=response.data.cons_num;
                            for(var i=0;i<this.remark;i++){
                                this.comments.push({
                                    username:response.data.comments[i].author.username,
                                    content:response.data.comments[i].body,
                                    date:response.data.comments[i].timestamp,
                                    id:response.data.comments[i].author.id,
                                })
                            }
                            if(response.data.author_id==window.localStorage["id"]){
                                this.modify=true;
                            }
                            this.state=0
                            this.getuserinfo(response.data.author_id);
                        }
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response.status==404){
                            alert("该微猜想不存在或已被删除");
                            window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                    }.bind(this));
               },
               getuserinfo:function(user_id){
                    if(!window.localStorage["token"]){
                        return;
                    }
                    axios({
                        method: 'get',
                        url:'http://114.116.53.43/api/users/'+user_id,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            this.userinfo={
                                valid:true,
                                id:user_id,
                                username:response.data.username,
                                forbidden:false,
                                administrator:false,
                                micropub:response.data.micropubs_count,
                                followed:response.data.followers_count,
                                following:response.data.followeds_count,
                                avatar:response.data._links.avatar,
                            }
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else{
                            alert("发生错误");
                        }
                    }.bind(this))
                },
                like_click:function(){
                    var id=this.getQueryVariable("id");
                    var api="";
                    if(this.liked){
                        api="http://114.116.53.43/api/microcons/"+id+"/unlike"
                    }
                    else{
                        api="http://114.116.53.43/api/microcons/"+id+"/like"
                    }
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            //todo remove reload?
                            //this.liked=!this.liked;
                            console.log(response)
                            window.location.reload();
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该微猜想不存在或已被删除");
                            window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                    }.bind(this))
                },
                collect_click:function(){
                    var id=this.getQueryVariable("id");
                    var api="";
                    if(this.collected){
                        api="http://114.116.53.43/api/microcons/"+id+"/uncollect"
                    }
                    else{
                        api="http://114.116.53.43/api/microcons/"+id+"/collect"
                    }
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            window.location.reload();
                            //todo remove reload?
                            //this.liked=!this.liked;
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该微猜想不存在或已被删除");
                            window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                    }.bind(this))
                },
                goto_modify:function(){
                    var id=this.getQueryVariable("id");
                    window.location.href="hypothesis_create.html?type=1&id="+id;
                },
                send_comment(){
                    if(this.new_comment==""){
                        return;
                    }
                    var bundle={
                        body:this.new_comment,
                        'microcon_id':this.getQueryVariable("id")
                    }
                    axios({
                        method: 'post',
                        url:'http://114.116.53.43/api/comments/',
                        headers:{
                            'Content-Type': 'application/json',
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                        data:JSON.stringify(bundle),
                    }).then(
                        response=>{
                            alert("评论成功")
                            window.location.reload();
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response==404){
                            alert("该微猜想不存在或已被删除");
                            window.history.back(-1);
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                        console.log(error.response)
                    }.bind(this))
                },
                judge(res){
                    if(res){
                        api='http://114.116.53.43/api/microcons/'+this.getQueryVariable("id")+'/pro'
                    }
                    else{
                        api='http://114.116.53.43/api/microcons/'+this.getQueryVariable("id")+'/con'
                    }
                    axios({
                        method: 'get',
                        url:api,
                        headers:{
                            'Cache-Control': 'no-cache',
                            'Authorization':'Bearer '+window.localStorage["token"],
                        },
                    }).then(
                        response=>{
                            console.log(response)
                            alert("评价成功")
                            window.location.reload();
                        } 
                    ).catch(function (error) {
                        if(error.response.status==400){
                            if(!error.response.data.message){
                                window.location.href="login.html?type=1";
                                return;
                            } 
                        }
                        else if(error.response.status==403){
                            alert("您没有相应权限");
                            window.history.back(-1);
                        }
                        else {
                            alert("您已经评价过该猜想")
                        }
                    }.bind(this))
                }
               
                
            },
            mounted(){
                if(!window.localStorage["dark"]||window.localStorage["dark"]=="false"){
                    this.darkmode=false;
                }
                else{
                    this.darkmode=true;
                }
                document.querySelector('body').style.backgroundColor=this.styleobject.background;
                document.querySelector('body').style.color=this.styleobject.content;
                document.querySelector('body').style.backgroundImage=this.styleobject.bgpic;
                document.querySelector('body').style.backgroundAttachment="fixed";
                document.querySelector('body').style.backgroundSize='cover';
                var id=this.getQueryVariable("id");
                if(!id){
                    alert("非法链接");
                    window.history.back(-1);
                }
                this.getdata();
            }
        })
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        .middle{
            margin-left: 5%;
            width:70%;
            height:auto;
            display: inline-block;
            opacity: 0.8;
        }
        .middle-header{
            width:100%;
            height:100px;
            margin-bottom: 30px;
            padding-left: 2%;
            font-size: 20px;
        }
        .middle-body{
            width:100%;
            height:auto;
            font-size: 15px;
            padding:2%;
            margin-bottom: 15px;
        }
        .comment{
            width:100%;
            height:auto;
            font-size: 15px;
            padding:2%;
            margin: 0 auto;
            margin-bottom: 15px;
            border-radius: 15px;
        }
        .right{
            width:20%;
            margin-left: 3%;
            height:200px;
            display: inline-block;
            vertical-align: top;
          
        }
        .right-bar{
            width:100%;
            height:auto;
            display:block;
            padding: 2px;
            margin-bottom: 15px;
        }
        a{
            text-decoration:underline;
        }
        .avatar{
            margin:0 auto;
            display: block;
            height:100px;
            width:100px;
            opacity: 1;
        }
    </style>
</html>